*.venv
*.env
__pycache__/
*.pyc
boundaryData.*
boundaryClean.*
*.csv
*.graphml
*.html
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json
